    <%= form_for(:session, :url => sessions_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Sign in" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
